/* CSS (Cascading Style Sheets) */

*
{
	box-sizing: border-box;
}

h1
{
	font-family: Tahoma;
	font-size: 40px;
	color: red;
}

main h2 
{
	font-family:'Times New Roman', Times, serif;
	font-size: 12pt;
	color: olivedrab;
}