/* CSS (Cascading Style Sheets) */

*{
	box-sizing: border-box;
	
}

body
 {
    box-sizing: border-box; /* (standardowy model polowy->content-box) | (alternatywny model polowy->border-box) */
    max-width: 1400px;
    margin: 20px auto 0 auto;
    padding: 20px 30px;
    border: 6px solid #eaeaea;
    /* color: #646363;*/
    font-family: 'Segoe UI', 'Average Sans', Amiko, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1 
{
	
	margin-bottom: 0;
	margin-top: 26px;
	color: #646263;
	font-variant-caps: petite-caps;
	font-family: 'Segoe UI','Average Sans', Amiko, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-stretch: extra-expanded;
}
h2
{
	margin-bottom: 0;
	margin-top: 30px;
	font-variant-caps: petite-caps;
	font-family: 'Segoe UI','Average Sans', Amiko, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color:Crimson;
}

h3 
{
	margin-bottom: 0;
	margin-top: 30px;
	
}
p 
{
	margin-top: 5px;
	font-family: 'Segoe UI','Average Sans', Amiko, Noto Serif Makasar, Grandiflora One;
	color: Black;
}

.a 
{
	background-color: coral ;
}

.b 
{
	background-color: lightpink;
}

.c 
{
	background-color: lightgreen;
	width: 300px;
	position: relative;
	z-index: 1;
	top: -20px;
	left: 0px;
}
.d {
  position: sticky;
  background-color: lightblue;
  z-index: 3;
  top: 45px;
  left: 60px;
}


a {
	/* color: #646363; */
	color: black;
	text-decoration: none;
  }
  
 a:visited 
 {
	color: #646363;
  }
 a:hover 
 {
	color: navy;
  }



main 
{
margin-right: 6px;
margin-left: 6px;	
color: navy;
background-color: white;
width: 98%;
/* height: 200px;*/
}

main > article 
{
	font-size: 0.9em;
	background: white;
	color: #DC1400;
}


article
{
	/* display: flex; */
	/* flex-direction: row; */
	overflow: auto;
	
	
}



.ArticleOne
{
	display: flex;
	flex-direction: row;
	font-family: 'Amiko';
	font-size: 0.7em;
}

.ArticleOne ul {list-style-type: none; margin:0; padding:0; font-size: 95%;}

main > article h2:first-of-type
{
	margin-top: 2pt;
	margin-bottom: 12pt;
	text-align: center;
	
}

main article div > p
{color:#f709eb}

df
{
	color: red;
}
 	



.featured 
{
	float: left;
	margin: 20px 20px 20px 0;
	width: 200px;
	height: 180px;
}

#site-content 
{
	display: flex; /* */
	flex-direction: row;
}

#site-content main article p 
{
	color: DarkSlatBlue;
 }
 
 /* #site-content main article h2 { color: crimson;}*/
 #site-content main article h3 { color: crimson;}


 .TestClass
{
	
	display: flex;
	flex-direction: column;
	
}



#sidebar 
{
/* background-color: lightpink; */
width: 25%;
text-align: left;
border-left: 1px solid #dddddd;
margin-left: 40px
/* kod:-> height: 200px; */	
}
/* Start 2023-10-06 dostosowywanei Budowa-podstron */
#sidebar section 
{
	margin-top:45px; 
	padding-left: 25px;
	/*background-color: olive;*/
	
}

#sidebar section:first-of-type { margin-top: 0;}
#sidebar h2 { margin-top: 0; margin-bottom: 14px; font-size: 1.0em; text-align:center; color: rgb(78, 78, 192);}
/* #sidebar ul { list-style-type: none; margin:0; padding:0; font-family: Imbue, oswald; font-weight:lighter; font-size: 0.8em;} */ 
#sidebar ul { list-style-type: none; margin:0; padding:0; font-family:  'Sofia Sans Extra Condensed' ; font-weight: Thin; font-size: 1em; color: black;}
#sidebar li { margin-bottom: 7px; }
#sidebar a { color: black /* #786d6d;  */ }

.centered-img {display: block; margin: 30px auto;}

.float-right { float: right; margin: 10px 0 10px 10px;}

/* Stop 2023-10-06 dostosowywanei Budowa-podstron */
#sidebar-key
{
	width: 25%;
	text-align: left;
	border-right: 1px solid #dddddd;
	margin-right: 20px;
	font-size:0.9em;
	
}
#sidebar-key section:first-of-type {margin-top: 0;}
#sidebar-key h2 { margin-top: 0; margin-bottom: 14px; text-align: center; font-size: 0.9em; }
#sidebar-key ul { list-style-type: none; margin:0; padding:0; font-size: 98%;}
#sidebar-key li { margin-bottom: 7px; }

#sidebar-key-wide
{
	width: 40%;
	text-align: left;
	border-right: 1px solid #dddddd;
	margin-right: 20px;
	font-size:0.8em;	
}

#sidebar-key-wide section:first-of-type {margin-top: 0;}
#sidebar-key-wide h2 { margin-top: 0; margin-bottom: 14px; text-align: center; font-size: 0.9em; }
#sidebar-key-wide ul { list-style-type: none; margin:0; padding:0; font-size: 98%;}
#sidebar-key-wide li { margin-bottom: 7px; }

#main-header
{
	text-align: center;
}

#main-header h1 {font-size: 2rem;}
#main-header hgroup p {margin-top: 0; font-style: italic;}
#main-header nav 
{
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	margin: 40px 0;
	padding: 15px;
}

#main-header nav ul 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#main-header nav ul li
{
	display: inline-block;
	margin: 0 15px;
	position: relative;
}

#main-header nav li div
{
	min-width: 190px;
	text-align: left;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	padding: 15px 0;
	font-size: 120%;
	position: absolute;
	display: none;
	white-space: nowrap;
	
}

#main-header nav li:hover div {
  display: block;
}

#main-header nav li div a 
{
	display: block;
	margin: 0 15px 12px 20px;
	margin: 0 15px 12px 20px;
	color: red;
	font-family: 'Average Sans', Amiko;
	
}

#main-header nav li div a:last-child
{
	margin-bottom: 0;
}

#main-footer 
{
	margin-top: 60px;
	padding-top: 20px;
	text-align: center;
	border-top: 1px solid #dddddd;
	font-family: 'Average Sans', Amiko;
	font-size: 0.9em;

}

#main-footer a {
	text-decoration: underline;
  }

  #main-footer a:hover {
	text-decoration: none;
  }
