/* CSS (Cascading Style Sheets) */

*{
	box-sizing: border-box;
	
}

body
 {
    box-sizing: border-box; /* (standardowy model polowy->content-box) | (alternatywny model polowy->border-box) */
    max-width: 1400px;
    margin: 20px auto 0 auto;
    padding: 20px 30px;
    border: 6px solid #eaeaea;
    color: #646363;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1 
{
	
	margin-bottom: 0;
	margin-top: 26px;
	background-color: white;
	color: #646263;
	font-variant-caps: petite-caps;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-stretch: extra-expanded;
}
h2
{
	margin-bottom: 0;
	margin-top: 30px;
	font-variant-caps: petite-caps;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 
{
	margin-bottom: 0;
	margin-top: 30px;
}
p 
{
	margin-top: 5px;
	font-family: Noto Serif Makasar, Grandiflora One;
}

.a 
{
	background-color: coral ;
}

.b 
{
	background-color: lightpink;
}

.c 
{
	background-color: lightgreen;
	width: 300px;
	position: relative;
	z-index: 1;
	top: -20px;
	left: 0px;
}
.d {
  position: sticky;
  background-color: lightblue;
  z-index: 3;
  top: 45px;
  left: 60px;
}


a {
	color: #646363;
	text-decoration: none;
  }
  
 a:visited 
 {
	color: #646363;
  }
 a:hover 
 {
	color: navy;
  }
main 
{
margin-left: 10px;	
background-color: antiquewhite;
width: 85%;
/* height: 200px;*/
}
article 
{
	overflow: auto;
	
}

main > article h2:first-of-type
{
	margin-top: 0;
	margin-bottom: 30px;
	text-align: center;
} 	

#main-footer 
{
	margin-top: 60px;
	padding-top: 20px;
	text-align: center;
	border-top: 1px solid #dddddd;

}

#main-footer a {
	text-decoration: underline;
  }

  #main-footer a:hover {
	text-decoration: none;
  }

.featured 
{
	float: left;
	margin: 20px 20px 20px 0;
	width: 200px;
	height: 180px;
}

#site-content 
{
	display: flex; /* */
}

#sidebar 
{
/* background-color: lightpink; */
width: 30%;
text-align: left;
border-left: 1px solid #dddddd;
margin-left: 40px
/* kod:-> height: 200px; */	
}
/* Start 2023-10-06 dostosowywanei Budowa-podstron */
#sidebar section 
{
	margin-top:45px; 
	padding-left: 25px;
	
}

#sidebar section:first-of-type { margin-top: 0;}
#sidebar  h2 { margin-top: 0; margin-bottom: 14px; font-size: 1.2em}
#sidebar ul { list-style-type: none; margin:0; padding:0; font-size: 95%;}
#sidebar li { margin-bottom: 7px; }
#sidebar a { color: #786d6d; }

.centered-img {display: block; margin: 30px auto;}

.float-right { float: right; margin: 10px 0 10px 10px;}

/* Stop 2023-10-06 dostosowywanei Budowa-podstron */
#sidebar-key
{
	width: 25%;
	text-align: center;
	border-right: 1px sold #dddddd;
	margin-right: 10px;
	
}
#sidebar-key section:first-of-type {margin-top 0;}
#sidebar-key h2 { margin-top: 0; margin-bottom: 14px; font-size: 0.8em; }


#main-header
{
	text-align: center;
}

#main-header h1 {font-size: 2rem;}
#main-header hgroup p {margin-top: 0; font-style: italic;}
#main-header nav 
{
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	margin: 40px 0;
	padding: 15px;
}

#main-header nav ul 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#main-header nav ul li
{
	display: inline-block;
	margin: 0 15px;
	position: relative;
}

#main-header nav li div
{
	min-width: 190px;
	text-align: left;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	padding: 15px 0;
	font-size: 90%;
	position: absolute;
	display: none;
	white-space: nowrap;
}

#main-header nav li:hover div {
  display: block;
}

#main-header nav li div a 
{
	display: block;
	margin: 0 15px 12px 20px;
	margin: 0 15px 12px 20px;
	color: red;
	
}

#main-header nav li div a:last-child
{
	margin-bottom: 0;
}

